<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaokw.server.mapper.TAdminMapper">

    <resultMap id="AdminWithRole" type="com.xiaokw.server.entity.TAdmin">
        <id column="id" property="id"/>
        <result property="name" column="name"/>
        <result property="phone" column="phone"/>
        <result property="telephone" column="telephone"/>
        <result property="address" column="address"/>
        <result property="enabled" column="enabled"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="userFace" column="userFace"/>
        <result property="remark" column="remark"/>
        <collection property="roles" ofType="com.xiaokw.server.entity.TRole" >
            <id column="rid" property="id"/>
            <result property="name" column="rname"/>
            <result property="nameZh" column="rnameZh"/>
        </collection>
    </resultMap>

    <select id="getAllAdmins" resultMap="AdminWithRole">
        SELECT
            a.*,
            r.id AS rid,
            r.`name` AS rname,
            r.nameZh AS rnameZh
        FROM
            t_admin a
                LEFT JOIN t_admin_role ar ON a.id = ar.adminId
                LEFT JOIN t_role r ON ar.rid = r.id
        WHERE
            a.id != #{id}
	        <if test="keywords != null and keywords != ''">
                AND a.`name` LIKE CONCAT( '%', #{keywords}, '%' )
            </if>
        ORDER BY
            a.id;
    </select>
</mapper>
